:root { 
--white_A700_b1:#ffffffb1; 
--black_900_b1:#000000b1; 
--indigo_900_b2:#27215db2; 
--black_900_7e:#0000007e; 
--indigo_A200:#767bfa; 
--black_900_3f:#0000003f; 
--white_A700_99:#ffffff99; 
--black_900_01:#000000; 
--white_A700_97:#ffffff97; 
--black_900:#00000a; 
--gray_500_01:#919191; 
--light_blue_A700:#0083ff; 
--light_blue_800_b1:#0066ccb1; 
--black_900_02:#01010c; 
--gray_600:#757575; 
--gray_700:#676767; 
--black_900_a2:#000000a2; 
--gray_500:#909090; 
--gray_600_01:#797979; 
--indigo_A400_b2:#4f3dfeb2; 
--blue_500:#2997ff; 
--white_A700_a2:#ffffffa2; 
--amber_600:#edbb01; 
--gray_900:#0f0f1a; 
--gray_900_01:#0f101b; 
--amber_700:#fca311; 
--blue_gray_900_b2:#161848b2; 
--gray_300:#e4e4e4; 
--gray_100:#f0f3fb; 
--black_900_11:#00000011; 
--cyan_A400_33:#00effe33; 
--gray_100_01:#f1f3fb; 
--gray_900_b2:#0c0e3eb2; 
--white_A700:#ffffff; 
--gray_700_01:#646464; 
}